<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062072298431-vi3b50043qk2g0ppq8af0lv41idp46o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062072298431-vi3b50043qk2g0ppq8af0lv41idp46o5</string>
	<key>API_KEY</key>
	<string>AIzaSyAptr9r8rtvibvFcCTCEBkiqBCCXIFAHlM</string>
	<key>GCM_SENDER_ID</key>
	<string>1062072298431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jennifer-Louvet.PROYECTOFINAL</string>
	<key>PROJECT_ID</key>
	<string>proyectofinal-1b13b</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectofinal-1b13b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062072298431:ios:a4e265c7b5b4afcec08f0a</string>
</dict>
</plist>